* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


html,input {
  font-family: var(--font-inter);
}

h1 {
  font-family: var(--font-roboto-mono);
  font-size: 1.5rem;
}

a{
  font-family: var(--font-inter);
  font-size: 1rem;
  font-weight: 500;
}

label
{
  font-family: var(--font-roboto-mono);
  font-size: 1rem;
  font-weight: 500;
}

h2
{
  font-family: var(--font-roboto-mono);
}

button
{
  font-family: var(--font-roboto-mono);
  text-align: center;
  padding: 0.75rem;
  color: white;
  font-weight: 400;
  font-size: 0.8rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.primary{
  background-color: coral;
}

.accent{
  background-color: red;
}

button:disabled
{
  background-color: grey;
}